{% extends 'base.html.twig' %}
{% block main %}
  <h1>Calendar index</h1>

  <table class="table">
      <thead>
          <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Start</th>
              <th>Description</th>
              <th>actions</th>
          </tr>
      </thead>
      <tbody>
      {% for planning in plannings %}
          <tr>
              <td>{{ planning.id }}</td>
              <td>{{ planning.title }}</td>
              <td>{{ planning.start ? planning.start|date('Y-m-d H:i:s') : '' }}</td>
              <td>{{ planning.description }}</td>
              <td>
                  <a href="{{ path('app_calendar_show', {'id': planning.id}) }}">show</a>
                  <a href="{{ path('app_calendar_edit', {'id': planning.id}) }}">edit</a>
                 <a href="{{ path('app_calendar_delete', {'id': planning.id}) }}">delete</a>
              </td>
          </tr>
      {% else %}
          <tr>
              <td colspan="9">no records found</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>

  <a href="{{ path('app_calendar_new') }}">Create new</a>
{% endblock %}