{% include 'base.html.twig' %}

{% block body %}
    <div class="cards-container calendar">
    {% for ingredient in ingredients %}
        <div class="card">
            <h2>{{ ingredient.name }}</h2>
            <h2>Allergene : {{ ingredient.allergene }}</h2>
            <img src="{{ asset('assets/upload_directory/' ~ ingredient.image) }}" alt="{{ ingredient.name }}">
            <a href="{{ path('edit_ingredients', { 'id': ingredient.id }) }}">Modifier</a>
            <a href="{{ path('delete_ingredients', { 'id': ingredient.id }) }}">Supprimer</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}