{% extends 'base.html.twig' %}

{% block title %}Choisissez vos ingrédients{% endblock %}

{% block main %}
<h1 class="new spacingTop title">Choisissez le type de plat</h1>

<nav class="mealNav">
    <ul>
        <li class="button"><a href="{{ path('app_recipes', {type: 'starter'}) }}">Entrée</a></li>
        <li class="button"><a href="{{ path('app_recipes', {type: 'plate'}) }}">Plat</a></li>
        <li class="button"><a href="{{ path('app_recipes', {type: 'dessert'}) }}">Dessert</a></li>
    </ul>
</nav>

<h2 class="title">Mes Recettes</h2>

<h3 class="title">Entrées</h3>
<div class="cards-container">
    {% if recipes is not empty %}
        {% for recipe in recipes %}
            {% if recipe.isStarter and not recipe.IsPaid %}
                <div class="card">
                    <h4 class="mealElement">{{ recipe.createdAt|date('d/m/Y') }}</h4>
                    {% for ingredient in recipe.ingredients %}
                        <h4 class="mealElement">{{ ingredient.name }}</h4>
                        <img src="{{ asset('assets/upload_directory/' ~ ingredient.image) }}" alt="{{ ingredient.name }}" class="mealImage">
                    {% endfor %}
                    <a href="{{ path('delete_recipes', {'id': recipe.id}) }}" class="mealElement">Supprimer le plat</a>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Vous n'avez pas encore commandé d'entrée</p>
    {% endif %}
</div>

<h3 class="title">Plats</h3>
<div class="cards-container">
    {% if recipes is not empty %}
        {% for recipe in recipes %}
            {% if recipe.isPlate and not recipe.IsPaid %}
                <div class="card">
                    <h4 class="mealElement">{{ recipe.createdAt|date('d/m/Y') }}</h4>
                    {% for ingredient in recipe.ingredients %}
                        <h4 class="mealElement">{{ ingredient.name }}</h4>
                        <img src="{{ asset('assets/upload_directory/' ~ ingredient.image) }}" alt="{{ ingredient.name }}" class="mealImage">
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No plates found.</p>
    {% endif %}
</div>

<h3 class="title">Desserts</h3>
<div class="cards-container">
    {% if recipes is not empty %}
        {% for recipe in recipes %}
            {% if recipe.isDessert and not recipe.IsPaid %}
                <div class="card">
                    <h4 class="mealElement">{{ recipe.createdAt|date('d/m/Y') }}</h4>
                    {% for ingredient in recipe.ingredients %}
                        <h4 class="mealElement">{{ ingredient.name }}</h4>
                        <img src="{{ asset('assets/upload_directory/' ~ ingredient.image) }}" alt="{{ ingredient.name }}" class="mealImage">
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No desserts found.</p>
    {% endif %}
</div>

<div class="bottom center top">
    <a class="button" href="{{ path('app_calendar_new') }}">Réserver</a>
</div>
{% endblock %}